<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <!-- Personalization -->
        <algoliasearch_personalization>
            <personalization_group>
                <personalization_click_events_group>
                    <product_recommended_clicked_selector>.recommend-item</product_recommended_clicked_selector>
                </personalization_click_events_group>
            </personalization_group>
        </algoliasearch_personalization>
    </default>
</config>
